body,div,span,b,input,textarea,select,button,table,h1,code,pre,a {
  font-family: $font-stack;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

*:focus {
  outline: none !important;
}

a {
  color: inherit;
  text-decoration-line: none;
  &:link,
  &:visited {
    text-decoration: none;
  }
}

%cursor-pointer {
  cursor: pointer;
}

ul {
  padding: initial;
  li {
    @extend %cursor-pointer;
    list-style: none;
    article {
      max-width: 900px;
      margin: 0 auto;
      .condition {
        border-bottom: 1px solid #333;
        padding: 10px 0;
        margin-bottom: 20px;
      }
      .container {
        padding: initial;
        color: inherit !important;
      }
    };
  }
}

.dash {
  color: #e5e5e5;
  font-size: 12px;
  margin: 0 10px;
  vertical-align: text-top;
}

/* 버튼 스타일 */
@mixin btn-background($background, $border, $color) {
  height: 30px;
  margin: 0 2px;
  padding: 0 15px;
  border-radius: 1px;
  font-size: 12px;
  line-height: 28px;
  background: $background;
  color: $color;
  border: $border;
}
.btn-white-30 {
  @include btn-background($white-color, 1px solid #ccc, #666);
}
.btn-gray-30 {
  @include btn-background(#f1f1f1, 1px solid #ccc, #666);
}
.btn-black-30 {
  @include btn-background($white-color, 1px solid #333, #333);
}

/* 입력폼 */
@mixin form-control($size) {
  display: inline-block;
  height: 30px;
  line-height: 1;
  padding: 5px 12px;
  background-color: $white-color;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-size: $size;
}
.form {
  @include form-control($font-normal-size);
}
.selectBox {
  @include form-control($font-small-size);
  -webkit-appearance: menulist-button;
  min-width: 100px;
}

/* 드롭다운 메뉴 */
%dropdown {
  position: absolute;
  width: 165px;
  background-color: $white-color;
  border: 1px solid #dedede;
  font-size: 12px;
  font-weight: 400;
  box-shadow: 0 0 0 rgba(102,102,102,.2);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  z-index: 1000;
}

.expendable {
  background-color: $primary-color;
  height: 50px;
  @extend %cursor-pointer;
  .material-icons {
    color: $white-color;
    font-size: 30px;
    padding: 10px;
  }
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
* ::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}
* ::-webkit-scrollbar-track-piece {
  background: 0 0;
}

/* vutify */
.material-icons {
  @extend %cursor-pointer;
}
.v-card {
  border: 1px solid #ddd !important;
  color: inherit !important;
}

/* vue grid layout */
.vue-grid-item {
  background-color: $white-color;
  box-shadow: 1px 1px 2px 0 #00000010;
}
.vue-grid-header {
  height: 50px;
  padding: 15px;
  position: relative;
  @extend %cursor-pointer;
  z-index: 20;
  &-title {
    font-size: $font-normal-size !important;
    margin-bottom: initial;
  }
  &-subtitle {
    font-size: 11px;
    color: #666666;
    margin-bottom: initial;
  }
}
.vue-grid-contents {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}