html {
  font-family: $font-stack;
  font-size: $font-normal-size;
  color: $font-color;
  overflow: auto;
}

*:focus {
  outline: none !important;
}

a {
  color: inherit;
  text-decoration-line: none;
  &:link,
  &:visited {
    text-decoration: none;
  }
}

ul {
  padding: initial;
  li {
    list-style: none;
    cursor: pointer;
  }
}

/* 버튼 스타일 */
button {
  margin: 0 2px;
}
.btn-white-30 {
  height: 30px;
  padding: 0 15px;
  border-radius: 1px;
  border: 1px solid #ccc;
  background-color: $white-color;
  font-size: 12px;
  color: #666;
  line-height: 28px;
}
.btn-gray-30 {
  height: 30px;
  padding: 0 15px;
  border-radius: 1px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  font-size: 12px;
  color: #666;
  line-height: 28px;
}
.btn-black-30 {
  height: 30px;
  padding: 0 15px;
  border-radius: 1px;
  border: 1px solid #333;
  background-color: #333;
  font-size: 12px;
  color: $white-color;
  line-height: 28px;
}

/* 입력폼 */
%form-control {
  display: inline-block;
  height: 30px;
  line-height: 1;
  padding: 5px 12px;
  background-color: $white-color;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form {
  @extend %form-control;
  font-size: $font-normal-size;
}
.selectBox {
  @extend %form-control;
  -webkit-appearance: menulist-button;
  font-size: $font-small-size;
}


/* 스크롤바 */
::-webkit-scrollbar {
  width: 8px;
  border: 3px solid transparent;
  background: transparent;
}
::-webkit-scrollbar-thumb{
  width: 8px;
  background: rgba(234,234,234,.2);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
}

/* vutify */
.material-icons {
  cursor: pointer;
}
.v-card {
  border: 1px solid #ddd !important;
  color: inherit !important;
}