$font-stack: "Noto Sans KR", sans-serif;
$font-color: #454545;//#2d2d2d;
$font-normal-size: 14px;
$font-small-size: 12px;

$primary-color: #d22630;
$primary-sub-color: #ed2024;
// $primary-color: #2bb7b3; 
// $primary-sub-color: #94d1ca;

$secondary-color: #4e4f51;
$secondary-sub-color: #424243;

$white-color: #ffffff;
$yellow-color: #f2c812;
